
body { 
    background-color: black;
}

.start-button {
    width: 100%;
    margin-top: 30px;  
}

h1 {
    color: orange; 
    padding: 20px; 
}

.container{
    background-color: white;  
    height: auto; 
    padding-top: 10px; 
    padding-bottom: 30px; 
}

#question-display {
    text-align: center; 
    padding-top: 15px; 
    padding-bottom: 10px; 
}


#timer {
    text-align: center; 
    margin-top: 15px; 
}

#wrong{
    text-align: center;
}

#correct{
    text-align: center; 
}

.giph{
    padding-top: 20px; 
}


.answer-button {
    width: 100%;
    margin-top: 5px
}

.start-button {
    width: 100%; 
}

