@font-face {
    font-family: nickFont;
    src: url(../font/Balloon-Extra-Bold-Regular/balloonextraboldregular.ttf); 
  }


body { 
    background-color: black;
}

.start-button {
    width: 100%;
    margin-top: 30px;  
}

h1 {
    color: orange; 
    font-family: nickFont; 
    padding: 20px; 
}

h2 {
    color: orange
}

.container{
    background-color: white;  
    height: auto; 
    padding-top: 10px; 
    padding-bottom: 30px; 
}

#question-display {
    text-align: center; 
    padding-top: 15px; 
    padding-bottom: 10px; 
}


#timer {
    text-align: center; 
    margin-top: 15px; 
}

#wrong{
    text-align: center;
}

#correct{
    text-align: center; 
}

.giph{
    padding-top: 20px; 
}


.answer-button {
    width: 100%;
    margin-top: 5px
}

.start-button {
    width: 100%; 
}

