@font-face {
    font-family: nickFont;
    src: url(../font/Balloon-Extra-Bold-Regular/balloonextraboldregular.ttf); 
  }


body { 
    background-color: black;
}

header {
    padding: 10px; 
    margin-bottom: 15px; 
}

.show-images{
    margin-top: 20px; 
}

#first-start-button {
    margin-bottom: -45px; 
}

.start-button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    background-color: #f5ba40;
    border: none;
    font-family: nickFont;
    font-size: 45px; 
}

.start-button:hover {
    background-color: #c7ef4f;
    border: none;
    color: #5dc0f5;
}

#headerText {
    color: white; 
    font-family: nickFont; 
    text-align: center; 
    font-size: 45px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splat {
    height: 150px; 
    width: 50%;
}

#headerLogo {
    position: relative;
    text-align: center;
}

.container { 
    background-color: white;  
    height: auto; 
}

#question-display {
    text-align: center; 
    padding-top: 15px; 
    padding-bottom: 10px; 
}

#timer {
    text-align: center; 
    margin-top: 15px; 
}

#wrong {
    text-align: center;
    margin-bottom: 20px;
}

#correct {
    text-align: center;
}

.giph {
    padding-top: 10px; 
    pointer-events: none; 
}

.answer-button {
    width: 100%;
    margin-top: 5px;
    background-color: #c7ef4f;
    border: none;
    color: #5dc0f5;
    font-size: 25px;
    font-family: nickFont;
}

.answer-button:hover {
    background-color: #f5ba40;
    border: none;
    color: white; 
}

.start-button {
    width: 100%; 
}

